
<f:if condition="{settings.noFilters}">
    <f:else>
        <div class="article article--fullwidth / form">
            <f:form noCacheHash="true" action="filter" controller="Ajax" extensionName="RkwEvents" pluginName="Pi1" class="ajax" name="filter" >
                <div class="flex-container space-between center-cross gutter">
                    <div class="flex-item c-3">
                        <p class="form__field">
                            <label for="select">Zeitraum</label>
                            <span class="select-box">
                            <select id="select" name="select">
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                            </select>
                          </span>
                        </p>
                    </div>
                    <div class="flex-item c-3">
                        <p class="form__field">
                            <label for="select">Kategorie</label>
                            <span class="select-box">
                            <select id="select" name="select">
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                            </select>
                          </span>
                        </p>
                    </div>
                    <div class="flex-item c-3">
                        <p class="form__field">
                            <label for="select">Kreis</label>
                            <span class="select-box">
                            <select id="select" name="select">
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                              <option value="">Auswahl-Element</option>
                            </select>
                          </span>
                        </p>
                    </div>
                    <div class="flex-item flex-item--align-end c-3">
                        <a class="btn btn--primary btn--rounded" href="">Termin suchen</a>
                    </div>
                </div>

                <!-- Override typeNum for AJAX -->
                <input type="hidden" name="type" value="{ajaxTypeNum}">

                <!-- Project filter from Plugin -->
                <f:form.hidden name="filter[project]" value="{filter.project}" />

            </f:form>
        </div>
    </f:else>
</f:if>