# =======================================================
# Ignore Editor-files, vendor and other basic stuff
# =======================================================
.DS_Store

/.build
/.buildpath
/.bowerrc
/.bundle
/.env
/.idea
/.settings
/.project
/.php-version
/vendor

/web/.htaccess
/web/.htpasswd
/web/gitpull.php
/web/data*.txt

# =======================================================
# Ignore cache folders and logs
# =======================================================
/dev/*.sql
/.surf/Credentials/*
!/.surf/Credentials/_Example.php


# =======================================================
# Ignore sensitive files from TYPO3
# =======================================================
/web/index.php
/web/typo3
/web/typo3conf/ENABLE_INSTALL_TOOL
/web/typo3conf/ext/*
!/web/typo3conf/ext/.gitkeep
/web/typo3conf/PackageStates.php
/web/typo3conf/AdditionalConfiguration.php
/web/typo3conf/temp_CACHED*
/web/typo3conf/temp_fieldInfo.php
/web/typo3conf/deprecation_*
/web/typo3temp
/web/uploads

# =======================================================
# Add folders for mountpoints
# =======================================================
/web/fileadmin/*
!/web/fileadmin/.gitkeep
/web/fileadmin/media
!/web/fileadmin/media/file-placeholder.pdf
!/web/fileadmin/media/image-placeholder.jpg

# =======================================================
# Add the custom extensions outside of composer here 
# =======================================================
!/web/typo3conf/ext/bm_pdf2content
!/web/typo3conf/ext/dd_googlesitemap
!/web/typo3conf/ext/varnish
