<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Header">
    <f:switch expression="{data.layout}">

        <f:case value="11">

        </f:case>

        <f:case value="12">

        </f:case>

        <f:defaultCase>
            <f:if condition="{gallery.position.noWrap} != 1">
                <f:render partial="Header/All" arguments="{_all}" />
            </f:if>
        </f:defaultCase>
    </f:switch>

</f:section>

<f:section name="Main">
    <f:switch expression="{data.layout}">

        <f:case value="11">
            <header class="section__header">
                <div class="wrap wrap--text / align-center">
                    <f:render partial="Header/All" arguments="{_all}" section="HeaderBodyReverse" />
                    <p>
                        <f:format.stripTags><f:format.html>{data.bodytext}</f:format.html></f:format.stripTags>
                    </p>
                </div>
            </header>
        </f:case>

        <f:case value="12">
            <header class="section__header / pb-2">
                <div class="wrap wrap--text / align-center">
                    <f:render partial="Header/All" arguments="{_all}" section="HeaderBodyReverse" />
                    <p>
                        <f:format.stripTags><f:format.html>{data.bodytext}</f:format.html></f:format.stripTags>
                    </p>
                </div>
            </header>
        </f:case>

        <f:case value="40">
            <div class="aside__content">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:case>

        <f:case value="41">
            <div class="aside__content">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:case>

        <f:case value="42">
            <div class="aside__content">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:case>

        <f:defaultCase>
            <f:format.html>{data.bodytext}</f:format.html>
        </f:defaultCase>

    </f:switch>

</f:section>
