<article class="box box--floated box--floated-right / mb-8">
    <div class="box__inner">
        <div class="flex-container space-between no-padding">

            <f:comment><!-- If a pages element is selected via flexform, use it as main item --></f:comment>
            <f:if condition="{pagesManualSelect}">
                <f:then>
                    <f:render section="mainArticle" arguments="{pages: pagesManualSelect}" />
                </f:then>
                <f:else>
                    <f:then>
                        <f:for each="{journalPagesList}" as="pages" iteration="iter">
                            <f:if condition="{iter.isFirst}">
                                <f:render section="mainArticle" arguments="{pages: pages}" />
                            </f:if>
                        </f:for>
                    </f:then>
                </f:else>
            </f:if>


            <div class="flex-item c-4 pl-2">
                <footer class="box__footer mt-2">
                    <ul class="menu menu--list">
                        <div id="c30" class="frame frame-default frame-type-menu_sitemap_pages frame-layout-50">
                            <header>
                                <h6 class="headline">
                                    <f:translate key="tx_hgontemplate_templates_standard_journalHighlight.furtherContent" />
                                </h6>
                            </header>

                            <f:for each="{journalPagesList}" as="pages" iteration="iter">
                                <f:comment><!-- If a pages element is selected via flexform, list all other items --></f:comment>
                                <f:if condition="{pagesManualSelect}">
                                    <f:then>
                                        <f:if condition="{iter.cycle} < 4">
                                            <li>
                                                <f:link.page class="link link--goto" pageUid="{pages.uid}">{pages.title}</f:link.page>
                                            </li>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:comment><!-- If there is no pages selected via flexform, don't show first item (it's already shown above) --></f:comment>
                                        <f:if condition="{iter.isFirst}">
                                            <f:else>
                                                <f:if condition="{iter.cycle} < 5">
                                                    <li>
                                                        <f:link.page class="link link--goto" pageUid="{pages.uid}">{pages.title}</f:link.page>
                                                    </li>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </div>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</article>


<f:section name="mainArticle">
    <div class="flex-item c-8">
        <picture class="box__image">
            <f:if condition="{pages.txRkwbasicsTeaserImage}" >
                <source media="(min-width: 37.563em) and (max-width: 48em)" srcset="<f:uri.image src='{pages.txRkwbasicsTeaserImage.uid}' treatIdAsReference='1' absolute='true' />">
                <source media="(max-width: 37.5em)" srcset="<f:uri.image src='{pages.txRkwbasicsTeaserImage.uid}' treatIdAsReference='1' absolute='true' />">
                <f:image src="{pages.txRkwbasicsTeaserImage.uid}" treatIdAsReference="1" title="{pages.txRkwbasicsTeaserImage.title}" alt="{pages.txRkwbasicsTeaserImage.alternative}" width="300" height="400" />
            </f:if>
        </picture>
        <header class="box__header">
            <h2>
                        <span class="badge badge--secondary">
                            <f:for each="{pages.categories}" as="category" iteration="iterator">
                                <f:if condition="{iterator.isFirst}">
                                    {category.title}
                                </f:if>
                            </f:for>
                            <span class="is-hidden">: </span>
                        </span>
                <span class="h2 headline">{pages.title}</span>
            </h2>
        </header>
        <div class="box__content">
            <p>{pages.txRkwbasicsTeaserText}</p>
            <p>
                <f:link.page pageUid="{pages.uid}" class="btn btn--primary btn--rounded">
                    <f:translate key="tx_hgontemplate_templates_standard_journalHighlight.readMore" />
                </f:link.page>
            </p>
        </div>
    </div>
</f:section>