<f:if condition="<f:count>{pagesList1}</f:count>">
    <f:else>
        <div class="flex-item c-12">
            <article class="card card-plainfull">
                <div class="card__inner">
                    <div class="flex-container">
                        <div class="flex-item c-4">
                            <header class="card__header">
                                <h3 class="headline">Uuups!</h3>
                            </header>
                        </div>
                        <div class="flex-item c-7">
                            <div class="card__content">
                                <p>
                                    Zu diesem Thema haben wir aktuell leider keine tollen Neuigkeiten. Aber wir sind stets aktiv und werden hier schon bald nachhelfen :-)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </f:else>
</f:if>

<f:for each="{pagesList1}" as="pages1">
    <f:render partial="flexItemC4" arguments="{pages: pages1}" />
</f:for>

<f:for each="{pagesList2}" as="pages2">
    <f:render partial="flexItemC8" arguments="{pages: pages2}" />
</f:for>

<f:render partial="Journal/FurtherElements" arguments="{pages: pages2}" />

<f:for each="{pagesList3}" as="pages3">
    <f:render partial="flexItemC6" arguments="{pages: pages3}" />
</f:for>

<f:comment><!-- Upcoming events --></f:comment>
<div class="flex-item c-12">
    <f:cObject typoscriptObjectPath="page.10.variables.rkwEventsUpcomingEvents" />
</div>

<f:for each="{pagesList4}" as="pages4">
    <f:render partial="flexItemC4" arguments="{pages: pages4}" />
</f:for>

