{namespace hgon=HGON\HgonTemplate\ViewHelpers}
<div class="flex-item c-8">
    <f:switch expression="<hgon:objectType object='{item}' />">
        <f:case value="Pages">
            <f:render section="<hgon:objectType object='{item}' />" arguments="{pages: item}" />
        </f:case>
        <f:case value="Event">
            <f:render section="<hgon:objectType object='{item}' />" arguments="{event: item}" />
        </f:case>
    </f:switch>

</div>


<f:comment>
    <!-- SECTIONS -->
</f:comment>

<f:section name="Pages">
    <article class="card card-image" style="background-image: url('https://dummyimage.com/800x450/6AA4C3/fff.png?text=IMG');">
        <div class="card__inner">
            <header class="card__header">
                <time class="tagline" datetime="{f:format.date(format: 'Y.m.d', date: pages.crdate)} "><f:format.date format="d.m.Y">{pages.crdate}</f:format.date></time>
                <h3 class="headline">{pages.title}</h3>
            </header>
            <div class="card__content">
                <p>
                    {pages.txRkwbasicsTeaserText}
                </p>
            </div>
            <footer class="card__footer">
                <f:link.page pageUid="{pages.uid}" class="btn btn--rounded btn--white">
                    <f:translate key="tx_hgontemplate_templates_standard_projectTeaser.readMore" />
                </f:link.page>
            </footer>
        </div>
    </article>
</f:section>

<f:section name="Event">

    <article class="card card-image" style="background-image: url('https://dummyimage.com/800x450/6AA4C3/fff.png?text=IMG'); ?>">
        <div class="card__inner">
            <header class="card__header">
                <time class="tagline" datetime="{f:format.date(format: 'Y.m.d', date: event.start)} "><f:format.date format="d.m.Y">{event.start}</f:format.date></time>
                <h3 class="headline">{event.place.city}</h3>
            </header>
            <div class="card__content">
                <p>
                    {event.title}
                </p>
            </div>
            <footer class="card__footer">
                <f:link.action action="show" controller="Event" pluginName="Pi1" extensionName="RkwEvents" pageUid="{showPid}" arguments="{event : event}" class="link link--goto" title="{event.title}">
                    Details
                </f:link.action>
            </footer>
        </div>
    </article>
</f:section>
