{namespace hgon=HGON\HgonTemplate\ViewHelpers}
<div class="flex-item c-4">

    <f:switch expression="<hgon:objectType object='{item}' />">
        <f:case value="Pages">
            <f:render section="<hgon:objectType object='{item}' />" arguments="{pages: item}" />
        </f:case>
        <f:case value="Event">
            <f:render section="<hgon:objectType object='{item}' />" arguments="{event: item, bordered: bordered}" />
        </f:case>
        <f:case value="Authors">
            <f:render section="<hgon:objectType object='{item}' />" arguments="{author: item}" />
        </f:case>
        <f:case default="true">
            <f:render section="Twitter" arguments="{_all}" />
        </f:case>
    </f:switch>

</div>



<f:comment>
    <!-- SECTIONS -->
</f:comment>

<f:section name="Pages">
    <article class="card card--border {f:if(condition: '{pages.txRkwbasicsTeaserImage}', else: 'card-plain')}">
        <f:if condition="{pages.txRkwbasicsTeaserImage}">
            <picture class="card__image">
                <f:image src="{pages.txRkwbasicsTeaserImage.uid}" treatIdAsReference="1" title="{pages.txRkwbasicsTeaserImage.title}" alt="{pages.txRkwbasicsTeaserImage.alternative}" width="395" height="300" />
            </picture>
        </f:if>
        <div class="card__inner">
            <header class="card__header">
                <time class="tagline" datetime="{f:format.date(format: 'Y.m.d', date: pages.crdate)} "><f:format.date format="d.m.Y">{pages.crdate}</f:format.date></time>
                <h3 class="headline">{pages.title}</h3>
            </header>
            <div class="card__content">
                {pages.txRkwbasicsTeaserText}
            </div>
            <footer class="card__footer">
                <f:link.page pageUid="{pages.uid}" class="btn btn--rounded btn--tertiary">
                    <f:translate key="tx_hgontemplate_templates_standard_projectTeaser.readMore" extensionName="HgonTemplate" />
                </f:link.page>
            </footer>
        </div>
    </article>
</f:section>

<f:section name="Event">
    <article class="item item-event {f:if(condition: '{bordered} == \'false\'', else: 'box--bordered')} ">

        <header class="item__header">
            <svg width="48" height="48"><use xlink:href="#ui-event"></use></svg>
            <time datetime="{event.start -> f:format.date(format:'d.m.Y')}">{event.start -> f:format.date(format:"d.m.Y")}</time>
            <span class="">{event.place.city}</span>
        </header>

        <div class="item__content">
            <h3>
                {event.title}
            </h3>
        </div>

        <footer class="item__footer">
            <f:link.action action="show" controller="Event" pluginName="Pi1" extensionName="RkwEvents" pageUid="{showPid}" arguments="{event : event}" class="link link--goto" title="{event.title}">
                Details
            </f:link.action>
        </footer>

    </article>
</f:section>

<f:section name="Authors">
    <article class="card card--border {f:if(condition: '{author.imageBoxes}', else: 'card-plain')}">
        <f:if condition="{author.imageBoxes}">
            <picture class="card__image">
                <f:image src="{author.imageBoxes.uid}" treatIdAsReference="1" title="{author.imageBoxes.title}" alt="{author.imageBoxes.alternative}" width="395" height="300" />
            </picture>
        </f:if>
        <div class="card__inner">
            <header class="card__header">
                <h3 class="headline">{author.firstName} {author.lastName}</h3>
            </header>
            <div class="card__content">
                <f:format.html>
                    {author.functionDescription}
                </f:format.html>
            </div>
            <f:comment>
                <footer class="card__footer">
                    <f:link.page pageUid="{pages.uid}" class="btn btn--rounded btn--tertiary">
                        <f:translate key="tx_hgontemplate_templates_standard_projectTeaser.readMore" />
                    </f:link.page>
                </footer>
            </f:comment>
        </div>
    </article>
</f:section>

<f:section name="Twitter">
    <aside class="aside aside-tweet ">
        <header class="aside__header">
            <time datetime="2018-06-24" class="float-right">24.06.2018</time>
            <h6><a href="https://twitter.com/HGON_eV" class="link link--social"><svg class="icon icon--btn-left" width="18" height="18"><use xlink:href="#ui-twitter"></use></svg> @HGON_eV</a></h6>
        </header>
        <div class="aside__content">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed. <a hreg="#">#Voegel</a> <a href="#">#HGON</a>
            </p>
        </div>
    </aside>
    <aside class="aside color-bg-cta">
        <header class="aside__header">
            <h6>Spendenkonto Naturschutz</h6>
        </header>
        <div class="aside__content">
            <p>
                Sparkasse Oberhessen<br>
                <strong> BIC</strong> HELADEF1FRI<br>
                <strong>IBAN</strong> DE07 5185 0079 0085 0026 94
            </p>
        </div>
    </aside>
</f:section>