<article class="article article--fullwidth">
    <h2>Arbeitskreistreffen</h2>
    <div class="flex-container space-between gutter / mt-1">
        <div class="flex-item c-6">
            <div class="grid no-padding">
                <div class="grid__col c-3">
                    <img class="img-left img-rounded" src="https://dummyimage.com/80x80/000000/fff.png" alt="" width="80" height="80">
                </div>
                <div class="grid__col c-9">
                    <header class="textbox__header">
                        <h5 class="textbox__headline">Headline</h5>
                    </header>
                    <div class="textbox__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item c-6">
            <div class="grid no-padding">
                <div class="grid__col c-3">
                    <img class="img-left img-rounded" src="https://dummyimage.com/80x80/000000/fff.png" alt="" width="80" height="80">
                </div>
                <div class="grid__col c-9">
                    <header class="textbox__header">
                        <h5 class="textbox__headline">Headline</h5>
                    </header>
                    <div class="textbox__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item c-6">
            <div class="grid no-padding">
                <div class="grid__col c-3">
                    <img class="img-left img-rounded" src="https://dummyimage.com/80x80/000000/fff.png" alt="" width="80" height="80">
                </div>
                <div class="grid__col c-9">
                    <header class="textbox__header">
                        <h5 class="textbox__headline">Headline</h5>
                    </header>
                    <div class="textbox__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>