<article class="article article--fullwidth">
    <h2>Arbeitskreistreffen</h2>

    <f:if condition="<f:count>{workGroupEventList}</f:count>">
        <f:then>
            <div class="grid / mt-2" id="tx-rkwevents-grid-section-workgroup">
                <div class="flex-container space-between gutter / mt-1">
                    <f:for each="{workGroupEventList}" as="event">
                        <f:render partial="Event/List/Box" arguments="{_all}" section="list" />
                    </f:for>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="no-search-results first-letter-normal content content-box">
                <div class="csc-default csc-element-n1">
                    <h3><strong><f:translate key="tx_rkwevents_fluid.templates_event_list.noEvent" extensionName="RkwEvents" /></strong></h3>
                </div>
            </div>
        </f:else>
    </f:if>
</article>